html, body { background-color: white; min-height: 100%;
width: 100%; margin: 0px; background: rgb(255,255,255); /* Old browsers */ background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(238,238,238,1) 47%, rgba(204,204,204,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 47%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 47%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 47%,rgba(204,204,204,1) 100%); /* IE10+ */ background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(238,238,238,1) 47%,rgba(204,204,204,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ }

body 
{
   min-height: 100%;
   margin: 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Open Sans', sans-serif;
   color: #999;
}
#content
{
   min-width: 640px;
   max-width: 1000px;

   margin-right: auto;
   margin-left: auto;
}

#display
{
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   -o-border-radius: 5px;

   background: transparent;
   margin-top: 15px;
   
   width: 85%;
   height: 85%;
   
	transform: matrix(-1,0,0,1,0,0);
	-o-transform: matrix(-1,0,0,1,0,0);
	-ms-transform: matrix(-1,0,0,1,0,0);
	-moz-transform: matrix(-1,0,0,1,0,0);
	-webkit-transform: matrix(-1,0,0,1,0,0);
}

#display:hover
{
   background-color: rgba(255, 255, 255, .6);
}

.display-full-screen
{
   position: absolute;
   left: 0px;
}

.top-bar
{
   display: block;
   width: 100%;
}

.top-bar #fullscreen,
.top-bar #config,
#configTool .button
{
   display: inline-block;
   height: 20px;
   margin-top: 5px;
   margin-bottom: 5px;
   float: right;
   
   opacity: .5;
   -moz-opacity: .5;
   -webkit-opacity: .5;
   -o-opacity: .5;
   filter: opacity(50);
   margin-right: 30px;
   cursor: pointer;
}

.top-bar img,
#configTool .button img
{
   width: 20px;
   margin-top: -4px;
   vertical-align: middle;
}

.top-bar #fullscreen:hover,
.top-bar #config:hover,
#configTool .button:hover
{
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -o-opacity: 1;
    filter: opacity(100);
}

.side-logo
{
   font-weight: 300;
   color: #999;
   font-size: 150px;
   position: absolute;
   left: -220px;
   top: 200px;

   opacity: .2;
   -moz-opacity: .2;
   -webkit-opacity: .2;
   -o-opacity: .2;
   filter: opacity(20);

   transform:rotate(90deg);
   -ms-transform:rotate(90deg); /* IE 9 */
   -moz-transform:rotate(90deg); /* Firefox */
   -webkit-transform:rotate(90deg); /* Safari and Chrome */
   -o-transform:rotate(90deg); /* Opera */

}

#configTool
{
   position: fixed;
   display: none;
   top: 0px;
   height: 100%;
   width: 200px;
   background-color: white;
   border-left: #ccc solid 1px;
   border-right: #ccc solid 1px;

   /*-moz-box-shadow:    2px 2px 3px 1px rgba(90, 90, 90, .4);
   -webkit-box-shadow: 2px 2px 3px 1px rgba(90, 90, 90, .4);
   box-shadow:         2px 2px 3px 1px rgba(90, 90, 90, .4);
   */
}

#configTool .button
{
   margin-top: 30px;
   float: right;
   margin-right: 20px;

}
